@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'MangoDdobak-B', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 3%;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-links li a {
  text-decoration: none;
  color: inherit;
}

.nav-links li a:hover {
  color: #007bff;
}

.login {
  font-size: 1.2em;
  padding-right: 3rem;
}

.login a {
  text-decoration: none;
  color: #000;
}

.login a:hover {
  color: #007bff;
}
